.area-editor {
    .modal-panel-sidebar {
        min-height: 100%;

        .minicolors-swatch {
            left: 0;
            height: 18px;
            width: 18px;
            border: 1px solid #000;
        }

        .minicolors-swatch-color {
            border: 2px solid #fff;
        }

        .input-group {
            width: 100%;

            .form-control {
                height: 31px;

                &.alt {
                    width: 100%;
                }
            }

            &.buttons {
                .form-control {
                    min-width: 100px;
                    max-width: 115px;
                }
            }
        }

        .disabled span {
            opacity: 0.6;
        }

        #areasForm {
            margin: 20px 4px 0 4px;
            max-width: 620px;
        }

        .formArea {
            margin-bottom: 10px;
        }

        .moreOptions {
            background-color: #fafafa;
            border: 1px solid #bbb;
            border-top: none;
            border-radius: 2px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            .positionOptions {
                padding: 6px 6px 0 6px;

                > .input-group-btn {
                    padding-bottom: 6px;
                }
            }

            .input-group {
                margin-bottom: 6px;
            }

            .form-control {
                min-width: auto;
            }

            .attributes {
                .form-control {
                    width: 14em;
                }
            }
        }
    }
}
