&-element {
    position: relative;

    .image {
        float: left;
        z-index: 1;
    }

    .canvas-container {
        z-index: 100;
    }

    .modifiedState {
        display: none;
        width: 400px;

        &.alert {
            margin: 0;
        }
    }
}
