<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:section name="Main">

        <div class="modal-panel-main">
            <div id="t3js-imagemap-container">
                <f:image image="{image}" id="t3js-editor-image" class="image" maxWidth="1000" maxHeight="1000"/>
                <canvas id="canvas" class="canvas"></canvas>
            </div>
        </div>

        <div class="modal-panel-sidebar">
            <div class="panel-group" id="area-form" role="tablist" aria-multiselectable="true">
                <form name="areasForm" id="areasForm"></form>
            </div>
        </div>

        <f:render partial="FieldsetRectangle"/>

        <f:render partial="FieldsetCircle"/>

        <f:render partial="FieldsetPolygon"/>
    </f:section>

</html>
