<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:section name="Main">

		<div class="modal-panel-main">
			<div id="t3js-imagemap-container" class="picture"
					 data-configuration="{configuration}" data-existing-areas="{existingAreas}">
				<f:image image="{image}" treatIdAsReference="true" class="image" maxWidth="1000" maxHeight="1000"/>
				<canvas id="modal-canvas" class="canvas"></canvas>
			</div>
		</div>

		<div class="modal-panel-sidebar">
			<div class="panel-group" id="accordion-cropper-variants" role="tablist" aria-multiselectable="true">
				<form id="areasForm">
					<div id="areaZone"></div>
					<f:render partial="RectangleForm" arguments="{_all}"/>
					<f:render partial="CircleForm" arguments="{_all}"/>
					<f:render partial="PolygonForm" arguments="{_all}"/>
				</form>
			</div>
		</div>

	</f:section>

</html>
