<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div id="circForm" class="areaForm">
	<div id="MAPFORMID_main" class="basicOptions input-group">
		<div class="input-group-addon">
			<div class="input-group-text colorPreview"><div></div></div>
		</div>
		<input type="text" id="MAPFORMID_label" value="..." class="form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
		<input type="text" id="MAPFORMID_link" value="..." class="form-control" placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" />
		<f:render partial="Imagemap/Controls" arguments="{returnUrl: returnUrl, formName: formName}"/>
	</div>

	<div id="MAPFORMID_more" class="moreOptions">
		<f:render partial="Imagemap/ColorPicker" arguments="{attributeKeys: attributeKeys}"/>

		<div class="positionOptions">
			<div class="input-group clearfix">
				<label for="MAPFORMID_x" class="input-group-addon">X:</label>
				<input type="text" class="form-control" id="MAPFORMID_x" value="x" />
				<label for="MAPFORMID_y" class="input-group-addon">Y:</label>
				<input type="text" class="form-control" id="MAPFORMID_y" value="y" />
			</div>

			<div class="input-group">
				<label for="MAPFORMID_radius" class="input-group-addon">R:</label>
				<input type="text" class="form-control" id="MAPFORMID_radius" value="r" />
			</div>

			<span id="MAPFORMID_upd" class="refresh" title="{f:translate(id: 'imagemap.form.area.refresh', extensionName: 'imagemap')}"><core:icon identifier="actions-system-refresh"/></span>
		</div>
	</div>
</div>

</html>
