<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="additionalInformation">
	<div id="colorPicker">
	</div>

	<div id="attributes">
		<f:for each="{attributeKeys}" as="key">
			<div class="attribute">
				<label for="{f:format.case(value: key, mode: 'lower')}">{f:format.case(value: key, mode: 'capital')}:</label>
				<input type="text" id="{f:format.case(value: key, mode: 'lower')}" class="t3js-field form-control" />
			</div>
		</f:for>
	</div>
</div>

</html>
