<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="input-group-btn">
	<span id="link" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.area.linkwizard', extensionName: 'imagemap')}"><core:icon identifier="actions-wizard-link"/></span>
	<span id="up" class="t3js-btn btn btn-default disabled" title="{f:translate(id: 'imagemap.form.area.up', extensionName: 'imagemap')}"><core:icon identifier="actions-move-up"/></span>
	<span id="down" class="t3js-btn btn btn-default disabled" title="{f:translate(id: 'imagemap.form.area.down', extensionName: 'imagemap')}"><core:icon identifier="actions-move-down"/></span>
	<f:comment>
		<span id="undo" class="t3js-btn btn btn-default disabled" title="{f:translate(id: 'imagemap.form.area.undo', extensionName: 'imagemap')}"><core:icon identifier="actions-edit-undo"/></span>
		<span id="redo" class="t3js-btn btn btn-default disabled" title="{f:translate(id: 'imagemap.form.area.redo', extensionName: 'imagemap')}"><core:icon identifier="actions-edit-redo"/></span>
	</f:comment>
	<span id="delete" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.area.remove', extensionName: 'imagemap')}"><core:icon identifier="actions-delete"/></span>
	<div class="exp btn btn-default">
		<span id="expand" class="t3js-btn" title="{f:translate(id: 'imagemap.form.area.expand', extensionName: 'imagemap')}"><core:icon identifier="actions-view-list-expand"/></span>
		<span id="collapse" class="t3js-btn hide" title="{f:translate(id: 'imagemap.form.area.collapse', extensionName: 'imagemap')}"><core:icon identifier="actions-view-list-collapse"/></span>
	</div>
</div>

</html>
