<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div id="polyForm" class="areaForm">
	<div id="MAPFORMID_main" class="basicOptions input-group">
		<div class="input-group-addon">
			<div class="input-group-text colorPreview"><div></div></div>
		</div>
		<input type="text" id="MAPFORMID_label" value="..." class="form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
		<input type="text" id="MAPFORMID_link" value="..." class="form-control" placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" />
		<f:render partial="Imagemap/Controls" arguments="{returnUrl: returnUrl, formName: formName, renderAddButton: 1}"/>
	</div>

	<div id="MAPFORMID_more" class="moreOptions">
		<f:render partial="Imagemap/ColorPicker" arguments="{attributeKeys: attributeKeys}"/>

		<div class="positionOptions">
			<span id="MAPFORMID_upd" class="refresh" title="{f:translate(id: 'imagemap.form.area.refresh', extensionName: 'imagemap')}"><core:icon identifier="actions-system-refresh"/></span>
			POLYCOORDS
		</div>
	</div>
</div>

<div id="polyCoords" class="noIdWrap">
	<div>
		<label for="MAPFORMID_xvN" class="XYlabel">XvN:</label><input type="text" class="formCoord" id="MAPFORMID_xvN" value="vX" />
		<label for="MAPFORMID_yvN" class="XYlabel">YvN:</label><input type="text" class="formCoord" id="MAPFORMID_yvN" value="vY" />
		<span id="MAPFORMID_beforevN" class="coordOpt addCoord" title="{f:translate(id: 'imagemap.form.poly.addEdgeBefore', extensionName: 'imagemap')}"><core:icon identifier="actions-view-go-up"/></span>
		<span id="MAPFORMID_aftervN" class="coordOpt addCoord" title="{f:translate(id: 'imagemap.form.poly.addEdgeAfter', extensionName: 'imagemap')}"><core:icon identifier="actions-view-go-down"/></span>
		<span id="MAPFORMID_rmvN" class="coordOpt rmCoord" title="{f:translate(id: 'imagemap.form.poly.removeEdge', extensionName: 'imagemap')}"><core:icon identifier="actions-close"/></span>
	</div>
</div>

</html>
