<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<script type="text/template" id="polyForm">
<div class="areaForm">
	<div class="basicOptions input-group">
		<div class="input-group-addon">
			<div class="input-group-text colorPreview"><div id="color" class="t3js-field"></div></div>
		</div>

		<input type="text" id="alt" class="t3js-field form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
		<input type="text" id="link" class="t3js-field form-control ignored-attribute" placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" />

		<f:render partial="Imagemap/Controls" arguments="{returnUrl: returnUrl, formName: formName, renderAddButton: 1}"/>
	</div>

	<div class="moreOptions hide">
		<div id="colorPicker"></div>

		<div class="additionalInformation">
			<div id="attributes">
				<f:for each="{data.attributeKeys}" as="key">
					<div class="input-group">
						<label for="{f:format.case(value: key, mode: 'lower')}" class="input-group-addon">{f:format.case(value: key, mode: 'capital')}:</label>
						<input type="text" id="{f:format.case(value: key, mode: 'lower')}" class="t3js-field form-control" />
					</div>
				</f:for>
			</div>

			<div class="positionOptions">
			</div>
		</div>
	</div>
</div>
</script>

<script type="text/template" id="polyCoords">
	<div class="input-group coord_ID">
		<label for="x_ID" class="input-group-addon">X:</label>
		<input type="text" id="x_ID" class="t3js-field form-control ignored-attribute" />

		<label for="y_ID" class="input-group-addon">Y:</label>
		<input type="text" id="y_ID" class="t3js-field form-control ignored-attribute" />

		<div class="input-group-btn">
			<span id="addBefore" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.addEdgeBefore', extensionName: 'imagemap')}"><core:icon identifier="actions-view-go-up"/></span>
			<span id="addAfter" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.addEdgeAfter', extensionName: 'imagemap')}"><core:icon identifier="actions-view-go-down"/></span>
			<span id="remove" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.removeEdge', extensionName: 'imagemap')}"><core:icon identifier="actions-close"/></span>
		</div>
	</div>
</script>

</html>
