<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div id="rectForm" class="areaForm hide">
	<div id="MAPFORMID_main" class="basicOptions input-group">
		<div class="input-group-addon">
			<div class="input-group-text colorPreview"><div></div></div>
		</div>
		<input type="text" id="MAPFORMID_label" data-formengine-input-name="MAPFORMID_label" value="..." class="form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
		<input type="text" id="MAPFORMID_link" data-formengine-input-name="MAPFORMID_link" value="..." class="form-control" placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" />
		<f:render partial="Imagemap/Controls" arguments="{returnUrl: returnUrl, formName: formName}"/>
	</div>

	<div id="MAPFORMID_more" class="moreOptions">
		<f:render partial="Imagemap/ColorPicker" arguments="{attributeKeys: attributeKeys}"/>

		<div class="positionOptions">
			<div class="input-group clearfix">
				<label for="MAPFORMID_x1" class="input-group-addon">X1:</label>
				<input type="text" class="form-control" id="MAPFORMID_x1" value="x" />

				<label for="MAPFORMID_y1" class="input-group-addon">Y1:</label>
				<input type="text" class="form-control" id="MAPFORMID_y1" value="y" />
			</div>

			<div class="input-group">
				<label for="MAPFORMID_x2" class="input-group-addon">X2:</label>
				<input type="text" class="form-control" id="MAPFORMID_x2" value="x" />

				<label for="MAPFORMID_y2" class="input-group-addon">Y2:</label>
				<input type="text" class="form-control" id="MAPFORMID_y2" value="y" />
			</div>
		</div>
	</div>
</div>

</html>
