<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<script type="text/template" id="rectForm">
<div class="areaForm">
	<div class="basicOptions input-group">
		<div class="input-group-addon">
			<div class="input-group-text colorPreview"><div id="color" class="t3js-field"></div></div>
		</div>

		<input type="text" id="title" class="t3js-field form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
		<input type="text" id="link" class="t3js-field form-control" placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" />

		<f:render partial="Imagemap/Controls" arguments="{returnUrl: returnUrl, formName: formName}"/>
	</div>

	<div class="moreOptions hide">
		<f:render partial="Imagemap/ColorPicker" arguments="{attributeKeys: attributeKeys}"/>

		<div class="positionOptions">
			<div class="input-group">
				<label for="left" class="input-group-addon">X1:</label>
				<input type="text" id="left" class="t3js-field form-control" value="x" />

				<label for="top" class="input-group-addon">Y1:</label>
				<input type="text" id="top" class="t3js-field form-control" value="y" />
			</div>

			<div class="input-group">
				<label for="right" class="input-group-addon">X2:</label>
				<input type="text" id="right" class="t3js-field form-control" value="x" />

				<label for="bottom" class="input-group-addon">Y2:</label>
				<input type="text" id="bottom" class="t3js-field form-control" value="y" />
			</div>
		</div>
	</div>
</div>
</script>

</html>
