<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<script type="text/template" id="rectForm">
<div id="MAPFORMID" class="areaForm">
	<div class="main basicOptions input-group">
		<div class="input-group-addon">
			<div class="input-group-text colorPreview"><div></div></div>
		</div>
		<input type="text" id="label" data-formengine-input-name="MAPFORMID_label" value="" class="form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
		<input type="text" id="link" data-formengine-input-name="MAPFORMID_link" value="" class="form-control" placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" />
		<f:render partial="Imagemap/Controls" arguments="{returnUrl: returnUrl, formName: formName}"/>
	</div>

	<div class="more moreOptions hide">
		<f:render partial="Imagemap/ColorPicker" arguments="{attributeKeys: attributeKeys}"/>

		<div class="positionOptions">
			<div class="input-group clearfix">
				<label for="x1" class="input-group-addon">X1:</label>
				<input type="text" id="x1" class="form-control" value="x" />

				<label for="y1" class="input-group-addon">Y1:</label>
				<input type="text" id="y1" class="form-control" value="y" />
			</div>

			<div class="input-group">
				<label for="x2" class="input-group-addon">X2:</label>
				<input type="text" id="x2" class="form-control" value="x" />

				<label for="y2" class="input-group-addon">Y2:</label>
				<input type="text" id="y2" class="form-control" value="y" />
			</div>
		</div>
	</div>
</div>
</script>

</html>
