<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:variable name="defaultAttributeset">{
	<f:for each="{data.attributeKeys}" as="key" iteration="iterator">{key}: ''<f:if condition="{iterator.isLast}"><f:else>,
	</f:else></f:if></f:for>
}</f:variable>

<f:variable name="fieldChangeFunc">[
	<f:for each="{parameters.fieldChangeFunc}" as="fieldChangeFunc" iteration="iterator">
		"parent.opener.{fieldChangeFunc -> f:format.raw()}"<f:if condition="{iterator.isLast}"><f:then>,</f:then></f:if>
	</f:for>
]</f:variable>

<f:variable name="browseLink">
{
	returnUrl: '{returnUrl}',
	formName: '{formName}',
	tableName: 'tt_content',
	fieldName: 'tx_imagemap_links',
	pid: <f:format.raw>{data.row.pid}</f:format.raw>
}
</f:variable>

<f:variable name="existingAreas">
[
	<f:for each="{data.map.areas}" as="area" iteration="iterator">{
		shape: '{area.attributes.shape}',
		coords: '{area.attributes.coords}',
		alt: '{area.attributes.alt}',
		link: '{area.value}',
		color: '{area.attributes.color}',
		attribute: <f:format.raw>{defaultAttributeset}</f:format.raw>
	}<f:if condition="{iterator.isLast}"><f:else>,
	</f:else></f:if></f:for>
]
</f:variable>

<script type="text/javascript">
window.imagemap = {<f:format.raw>
	formName: '{formName}',
	itemName: '{parameters.itemName}',
	fieldChangeFunc: {fieldChangeFunc},
	defaultAttributeset: {defaultAttributeset},
	existingAreas: {existingAreas},
	browseLink: {browseLink}
</f:format.raw>};
</script>

<div id="pic">
	<div id="magnify" data-scale-factor="{scaleFactor}">
		<span class="zoomin hide" title="{f:translate(id: 'imagemap.form.zoomin', extensionName: 'imagemap')}"><core:icon identifier="extensions-imagemap-zoomin" size="default" /></span>
		<span class="zoomout hide" title="{f:translate(id: 'imagemap.form.zoomout', extensionName: 'imagemap')}"><core:icon identifier="extensions-imagemap-zoomout" size="default" /></span>
	</div>
	<div id="picture">
		<div id="image">{data.image -> f:format.raw()}</div>
		<canvas id="canvas" class="canvas"></canvas>
	</div>
</div>

<form name="{formName}" id="areasForm">
<f:render partial="Imagemap/RectForm" arguments="{_all}"/>
<f:render partial="Imagemap/CircForm" arguments="{_all}"/>
<f:render partial="Imagemap/PolyForm" arguments="{_all}"/>
</form>

</html>
