<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:variable name="attributes"><f:for each="{data.attributeKeys}" as="key" iteration="iterator">{key}: ''<f:if condition="{iterator.isLast}"><f:else>,
</f:else></f:if></f:for></f:variable>

<script type="text/javascript">
window.imagemap = {
	itemName: '{parameters.itemName}',
	scaleFactor: '{scaleFactor}',
	fieldChangeFunc: [
		<f:for each="{parameters.fieldChangeFunc}" as="fieldChangeFunc" iteration="iterator">
		"parent.opener.{fieldChangeFunc -> f:format.raw()}"<f:if condition="{iterator.isLast}"><f:then>,</f:then></f:if>
		</f:for>
	],
	defaultAttributeset: {<f:format.raw>
		{attributes}
	</f:format.raw>},
	existingAreas: [
		<f:for each="{data.map.areas}" as="area" iteration="iterator">{<f:format.raw>
			shape: '{area.attributes.shape}',
			coords: '{area.attributes.coords}',
			alt: '{area.attributes.alt}',
			link: '{area.value}',
			color: '{area.attributes.color}',
			prepend: 0,
			attribute: </f:format.raw>{<f:format.raw>{attributes}</f:format.raw>}
		}<f:if condition="{iterator.isLast}"><f:else>,
		</f:else></f:if></f:for>
	],
	browseLink: {<f:format.raw/>
		returnUrl: '{returnUrl}',
		formName: '{formName}',
		tableName: 'tt_content',
		fieldName: 'tx_imagemap_links',
		pid: {data.row.pid}
	}
};
</script>

<div id="root">

	<div id="pic">
		<div id="magnify">
			<span class="zin hide" title="{f:translate(id: 'imagemap.form.zoomin', extensionName: 'imagemap')}"><core:icon identifier="extensions-imagemap-zoomin" size="default" /></span>
			<span class="zout hide" title="{f:translate(id: 'imagemap.form.zoomout', extensionName: 'imagemap')}"><core:icon identifier="extensions-imagemap-zoomout" size="default" /></span>
		</div>
		<div id="picture">
			<div id="image">{data.image -> f:format.raw()}</div>
			<canvas id="canvas" class="canvas"></canvas>
		</div>
	</div>

	<form name="{formName}" id="areaForms"></form>
</div>

<f:render partial="Imagemap/RectForm" arguments="{_all}"/>
<f:render partial="Imagemap/CircForm" arguments="{_all}"/>
<f:render partial="Imagemap/PolyForm" arguments="{_all}"/>

</html>
