<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="modal-panel-main">
	<div class="pictureWrap">
		<div id="magnify">
			<span class="zoomin hide" title="{f:translate(id: 'imagemap.form.zoomin', extensionName: 'imagemap')}"><core:icon identifier="extensions-imagemap-zoomin" size="default" /></span>
			<span class="zoomout hide" title="{f:translate(id: 'imagemap.form.zoomout', extensionName: 'imagemap')}"><core:icon identifier="extensions-imagemap-zoomout" size="default" /></span>
		</div>
		<div class="picture" data-scale-factor="1" data-configuration="{configuration}">
			<div class="image">{data.image -> f:format.raw()}</div>
			<canvas id="modal-canvas" class="canvas"></canvas>
		</div>
	</div>
</div>

<div class="modal-panel-sidebar">
	<form name="{formName}" id="areasForm">
		<div id="areaZone"></div>
		<f:render section="rectForm" arguments="{_all}"/>
		<f:render section="circForm" arguments="{_all}"/>
		<f:render section="polyForm" arguments="{_all}"/>
	</form>
</div>

<f:section name="rectForm">
	<script type="text/template" id="rectForm">
		<div class="areaForm rectForm">
			<div class="basicOptions input-group">
				<input type="text" id="link_ID" class="link t3js-field form-control ignored-attribute"
							 placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" data-formengine-input-name="link_ID"/>
				<div class="input-group-btn">
					<span id="link" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.area.linkwizard', extensionName: 'imagemap')}"><core:icon identifier="actions-wizard-link"/></span>
				</div>
			</div>
			<div class="input-group">
				<div class="input-group-addon">
					<input class="form-control t3js-field t3js-color-picker" type="hidden" id="color" value=""/>
				</div>
				<input type="text" id="alt" class="t3js-field form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
				<f:render section="controls" arguments="{returnUrl: returnUrl, formName: formName}"/>
			</div>

			<div class="moreOptions hide">
				<div class="additionalInformation">
					<div class="attributes">
						<f:for each="{data.attributeKeys}" as="key">
							<div class="input-group">
								<label for="{f:format.case(value: key, mode: 'lower')}" class="input-group-addon">{f:format.case(value: key, mode: 'capital')}:</label>
								<input type="text" id="{f:format.case(value: key, mode: 'lower')}" class="t3js-field form-control" />
							</div>
						</f:for>
					</div>

					<div class="positionOptions">
						<div class="input-group">
							<label for="left" class="input-group-addon">X1:</label>
							<input type="text" id="left" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>

							<label for="top" class="input-group-addon">Y1:</label>
							<input type="text" id="top" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>
						</div>

						<div class="input-group">
							<label for="right" class="input-group-addon">X2:</label>
							<input type="text" id="right" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>

							<label for="bottom" class="input-group-addon">Y2:</label>
							<input type="text" id="bottom" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
</f:section>

<f:section name="circForm">
	<script type="text/template" id="circleForm">
		<div class="areaForm circleForm">
			<div class="basicOptions input-group">
				<input type="text" id="link_ID" class="link t3js-field form-control ignored-attribute"
							 placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" data-formengine-input-name="link_ID"/>
				<div class="input-group-btn">
					<span id="link" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.area.linkwizard', extensionName: 'imagemap')}"><core:icon identifier="actions-wizard-link"/></span>
				</div>
			</div>

			<div class="input-group">
				<div class="input-group-addon">
					<input class="form-control t3js-field t3js-color-picker" type="hidden" id="color" value=""/>
				</div>
				<input type="text" id="alt" class="t3js-field form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
				<f:render section="controls" arguments="{returnUrl: returnUrl, formName: formName}"/>
			</div>

			<div class="moreOptions hide">
				<div class="additionalInformation">
					<div class="attributes">
						<f:for each="{data.attributeKeys}" as="key">
							<div class="input-group">
								<label for="{f:format.case(value: key, mode: 'lower')}" class="input-group-addon">{f:format.case(value: key, mode: 'capital')}:</label>
								<input type="text" id="{f:format.case(value: key, mode: 'lower')}" class="t3js-field form-control" />
							</div>
						</f:for>
					</div>

					<div class="positionOptions">
						<div class="input-group">
							<label for="left" class="input-group-addon">X:</label>
							<input type="text" id="left" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>

							<label for="top" class="input-group-addon">Y:</label>
							<input type="text" id="top" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>

							<label for="radius" class="input-group-addon">R:</label>
							<input type="text" id="radius" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
</f:section>

<f:section name="polyForm">
	<script type="text/template" id="polyForm">
		<div class="areaForm polyForm">
			<div class="basicOptions input-group">
				<input type="text" id="link_ID" class="link t3js-field form-control ignored-attribute"
							 placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}" data-formengine-input-name="link_ID"/>
				<div class="input-group-btn">
					<span id="link" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.area.linkwizard', extensionName: 'imagemap')}"><core:icon identifier="actions-wizard-link"/></span>
				</div>
			</div>

			<div class="input-group">
				<div class="input-group-addon">
					<input class="form-control t3js-field t3js-color-picker" type="hidden" id="color" value=""/>
				</div>
				<input type="text" id="alt" class="t3js-field form-control" placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}" />
				<f:render section="controls" arguments="{returnUrl: returnUrl, formName: formName}"/>
			</div>

			<div class="moreOptions hide">
				<div class="additionalInformation">
					<div class="attributes">
						<f:for each="{data.attributeKeys}" as="key">
							<div class="input-group">
								<label for="{f:format.case(value: key, mode: 'lower')}" class="input-group-addon">{f:format.case(value: key, mode: 'capital')}:</label>
								<input type="text" id="{f:format.case(value: key, mode: 'lower')}" class="t3js-field form-control" />
							</div>
						</f:for>
					</div>

					<div class="positionOptions">
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="polyCoords">
		<div class="input-group coord" id="_ID">
			<label for="x_ID" class="input-group-addon">X:</label>
			<input type="text" id="x_ID" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>

			<label for="y_ID" class="input-group-addon">Y:</label>
			<input type="text" id="y_ID" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>

			<div class="input-group-btn">
				<span id="addPointBefore" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.addEdgeBefore', extensionName: 'imagemap')}"><core:icon identifier="actions-view-go-up"/></span>
				<span id="addPointAfter" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.addEdgeAfter', extensionName: 'imagemap')}"><core:icon identifier="actions-view-go-down"/></span>
				<span id="removePoint" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.removeEdge', extensionName: 'imagemap')}"><core:icon identifier="actions-close"/></span>
			</div>
		</div>
	</script>
</f:section>

<f:section name="controls">
	<div class="input-group-btn">
		<span id="up" class="t3js-btn btn btn-default disabled" title="{f:translate(id: 'imagemap.form.area.up', extensionName: 'imagemap')}"><core:icon identifier="actions-move-up"/></span>
		<span id="down" class="t3js-btn btn btn-default disabled" title="{f:translate(id: 'imagemap.form.area.down', extensionName: 'imagemap')}"><core:icon identifier="actions-move-down"/></span>
		<f:comment>
			<span id="undo" class="t3js-btn btn btn-default disabled" title="{f:translate(id: 'imagemap.form.area.undo', extensionName: 'imagemap')}"><core:icon identifier="actions-edit-undo"/></span>
			<span id="redo" class="t3js-btn btn btn-default disabled" title="{f:translate(id: 'imagemap.form.area.redo', extensionName: 'imagemap')}"><core:icon identifier="actions-edit-redo"/></span>
		</f:comment>
		<span id="delete" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.area.remove', extensionName: 'imagemap')}"><core:icon identifier="actions-delete"/></span>
		<div class="exp btn btn-default">
			<span id="expand" class="t3js-btn" title="{f:translate(id: 'imagemap.form.area.expand', extensionName: 'imagemap')}"><core:icon identifier="actions-view-list-expand"/></span>
			<span id="collapse" class="t3js-btn hide" title="{f:translate(id: 'imagemap.form.area.collapse', extensionName: 'imagemap')}"><core:icon identifier="actions-view-list-collapse"/></span>
		</div>
	</div>
</f:section>

</html>
