<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="basicOptions input-group">
    <input type="text" id="alt_ID" data-field="alt" class="t3js-field form-control alt"
           placeholder="{f:translate(id: 'imagemap.form.area.label', extensionName: 'imagemap')}"/>
</div>

<div class="basicOptions input-group">
    <input type="text" id="href_ID" data-field="href" class="t3js-field form-control href"
           autocomplete="off" data-lpignore="true" data-formengine-input-name="href_ID"
           placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}"/>
    <div class="input-group-btn">
        <span data-action="link" class="t3js-btn btn btn-default"
              title="{f:translate(id: 'imagemap.form.area.linkwizard', extensionName: 'imagemap')}"
              data-href="{browseLinkUrl}"><core:icon identifier="actions-wizard-link"/></span>
    </div>
</div>

<div class="input-group buttons">
    <div class="input-group-addon">
        <input type="hidden" id="color_ID" data-field="color" class="t3js-field form-control t3js-color-picker color"/>
    </div>

    <div class="form-control"></div>

    <div class="input-group-btn">
        <span data-action="up" class="t3js-btn btn btn-default disabled"
              title="{f:translate(id: 'imagemap.form.area.up', extensionName: 'imagemap')}"><core:icon
            identifier="actions-move-up"/></span>
        <span data-action="down" class="t3js-btn btn btn-default disabled"
              title="{f:translate(id: 'imagemap.form.area.down', extensionName: 'imagemap')}"><core:icon
            identifier="actions-move-down"/></span>
        <f:comment>
            <span data-action="undo" class="t3js-btn btn btn-default disabled"
                  title="{f:translate(id: 'imagemap.form.area.undo', extensionName: 'imagemap')}"><core:icon
                identifier="actions-edit-undo"/></span>
            <span data-action="redo" class="t3js-btn btn btn-default disabled"
                  title="{f:translate(id: 'imagemap.form.area.redo', extensionName: 'imagemap')}"><core:icon
                identifier="actions-edit-redo"/></span>
        </f:comment>
        <span data-action="delete" class="t3js-btn btn btn-default"
              title="{f:translate(id: 'imagemap.form.area.remove', extensionName: 'imagemap')}"><core:icon
            identifier="actions-delete"/></span>
        <span data-action="expand" class="t3js-btn btn btn-default"
              title="{f:translate(id: 'imagemap.form.area.expand', extensionName: 'imagemap')}"><core:icon
            identifier="actions-view-list-expand"/></span>
        <span data-action="collapse" class="t3js-btn btn btn-default hide"
              title="{f:translate(id: 'imagemap.form.area.collapse', extensionName: 'imagemap')}"><core:icon
            identifier="actions-view-list-collapse"/></span>
    </div>
</div>

</html>
