<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="basicOptions input-group">
	<input type="text" id="link_ID" autocomplete="off" data-lpignore="true"
				 class="href t3js-field form-control ignored-attribute"
				 placeholder="{f:translate(id: 'imagemap.form.area.link', extensionName: 'imagemap')}"
				 data-formengine-input-name="link_ID"/>
	<div class="input-group-btn">
		<span data-action="link" class="t3js-btn btn btn-default"
					title="{f:translate(id: 'imagemap.form.area.linkwizard', extensionName: 'imagemap')}"
					data-href="{browseLinkUrl}"><core:icon identifier="actions-wizard-link"/></span>
	</div>
</div>

</html>
