<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<script type="text/template" id="circleForm">
	<div class="areaForm circleForm">
		<f:render partial="BasicOptions" arguments="{_all}"/>

		<f:render partial="Controls"/>

		<div class="moreOptions hide">
			<div class="additionalInformation">
				<div class="positionOptions">
					<div class="input-group">
						<label for="left" class="input-group-addon">X:</label>
						<input type="text" id="left" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>

						<label for="top" class="input-group-addon">Y:</label>
						<input type="text" id="top" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>

						<label for="radius" class="input-group-addon">R:</label>
						<input type="text" id="radius" class="t3js-field form-control ignored-attribute" autocomplete="off" pattern="\d*"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

</html>
