<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<script type="text/template" id="circleForm">
    <fieldset class="formArea circleForm" data-id="_ID">
        <f:render partial="BasicOptions" arguments="{_all}"/>

        <div class="moreOptions hide">
            <div class="positionOptions">
                <div class="input-group">
                    <label for="left_ID" class="input-group-addon">X:</label>
                    <input type="number" id="left_ID" data-field="left" class="t3js-field form-control left" autocomplete="off"/>

                    <label for="top_ID" class="input-group-addon">Y:</label>
                    <input type="number" id="top_ID" data-field="top" class="t3js-field form-control top" autocomplete="off"/>

                    <label for="radius_ID" class="input-group-addon">R:</label>
                    <input type="number" id="radius_ID" data-field="radius" class="t3js-field form-control radius" autocomplete="off"/>
                </div>
            </div>
        </div>
    </fieldset>
</script>

</html>
