<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<script type="text/template" id="polyCoords">
    <div class="input-group coord" id="p_ID">
        <label for="x_ID" class="input-group-addon">X:</label>
        <input type="number" id="x_ID" data-index="_POINT" data-field="x" class="t3js-field form-control" autocomplete="off"/>

        <label for="y_ID" class="input-group-addon">Y:</label>
        <input type="number" id="y_ID" data-index="_POINT" data-field="y" class="t3js-field form-control" autocomplete="off"/>

        <div class="input-group-btn">
            <span data-action="addPoint" class="t3js-btn btn btn-default" data-point="_ID"
                  title="{f:translate(id: 'imagemap.form.poly.addEdgeAfter', extensionName: 'imagemap')}"><core:icon
                identifier="actions-view-go-down"/></span>
            <span data-action="removePoint" class="t3js-btn btn btn-default"
                  title="{f:translate(id: 'imagemap.form.poly.removeEdge', extensionName: 'imagemap')}"><core:icon
                identifier="actions-close"/></span>
        </div>
    </div>
</script>

</html>
