<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<script type="text/template" id="polygonForm">
	<div class="areaForm polyForm">
		<f:render partial="BasicOptions" arguments="{_all}"/>

		<f:render partial="Controls"/>

		<div class="moreOptions hide">
			<div class="additionalInformation">
				<div class="positionOptions">
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="polyCoords">
	<div class="input-group coord" id="_ID">
		<label for="x_ID" class="input-group-addon">X:</label>
		<input type="text" id="x_ID" class="t3js-field form-control ignored-attribute x-coord" autocomplete="off" pattern="\d*"/>

		<label for="y_ID" class="input-group-addon">Y:</label>
		<input type="text" id="y_ID" class="t3js-field form-control ignored-attribute y-coord" autocomplete="off" pattern="\d*"/>

		<div class="input-group-btn">
			<span data-action="addPointBefore" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.addEdgeBefore', extensionName: 'imagemap')}"><core:icon identifier="actions-view-go-up"/></span>
			<span data-action="addPointAfter" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.addEdgeAfter', extensionName: 'imagemap')}"><core:icon identifier="actions-view-go-down"/></span>
			<span data-action="removePoint" class="t3js-btn btn btn-default" title="{f:translate(id: 'imagemap.form.poly.removeEdge', extensionName: 'imagemap')}"><core:icon identifier="actions-close"/></span>
		</div>
	</div>
</script>

</html>
