<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:if condition="{gallery.rows}">
	<f:variable name="column">{gallery.rows.1.columns.1}</f:variable>
	<div class="ce-image ce-{gallery.position.horizontal} ce-{gallery.position.vertical}">
		<div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
		<f:if condition="{gallery.position.horizontal} == 'center'">
			<div class="ce-outer">
				<div class="ce-inner">
		</f:if>
					<div class="ce-row">
						<div class="ce-column">
							<figure class="image">
								<f:image image="{column.media}"
												 width="{column.dimensions.width}"
												 height="{column.dimensions.height}"
												 alt="{column.media.alternative}"
												 title="{column.media.title}"
												 usemap="#{imageMapName}"
												 class="image-embed-item"/>
								{imageMap}
								<f:if condition="{column.media.description}">
									<figcaption class="image-caption">
										{column.media.description}
									</figcaption>
								</f:if>
							</figure>
						</div>
					</div>
		<f:if condition="{gallery.position.horizontal} == 'center'">
				</div>
			</div>
		</f:if>
		</div>
	</div>
</f:if>
</f:section>
</html>
